<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezerski.vladislav.database" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".activity.DBMainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <provider
            android:name=".provider.PostsContentProvider"
            android:authorities="com.ezerski.vladislav.database.provider.PostsContentProvider"
            android:exported="false" />
    </application>
</manifest>
