<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezerski.vladislav.exadelproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.ExApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.startscreen.StartActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.startscreen.fragmentscreen.activity.FragmentActivity" />
        <activity android:name=".ui.startscreen.networking.loader.LoaderActivity" />
        <activity android:name=".ui.startscreen.networking.service.IntentServiceActivity" />
        <activity android:name=".ui.startscreen.networking.async.AsyncTaskActivity" />
        <activity android:name=".ui.startscreen.networking.NetworkingActivity" />
        <activity android:name=".ui.startscreen.servicescreen.ServiceActivity" />

        <service
            android:name=".ui.startscreen.networking.service.DataDownloadService"
            android:exported="false" />
        <service
            android:name=".ui.startscreen.servicescreen.LocalService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>